* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  text-align: center;
  padding: 3rem;
  font-family: 'knewave', system-ui;
  background: #FEED00;
  height: 100vh;
  width: 100vw;
  background: 
  url(/froisse.png),
  repeating-linear-gradient(
    to right,
    #F50057 0,
    #F50057 2vw,
    #fff 2vw,
    #fff 4vw,
    #F50057 4vw,
    #F50057 6vw,
    #fff 6vw,
    #fff 8vw,
    #F50057 8vw,
    #F50057 10vw,
    #FEED00 10vw,
    #FEED00 90vw,
    #F50057 90vw,
    #F50057 92vw,
    #fff 92vw,
    #fff 94vw,
    #F50057 94vw,
    #F50057 96vw,
    #fff 96vw,
    #fff 98vw,
    #F50057 98vw,
    #F50057 100vw
  );
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  
}

h1 {
  color: #E3000D;
  font-size: 3rem;
  margin-bottom: 2rem;
}

img {
  height: 10vh;
}

button {
  background: #E20A1C;
  color: white;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover {
  background: #F50057;
}

.blagues {
  margin-top: 2rem;
  color: #FFF;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
}

@media screen and (max-width: 650px) {
  .blagues{
    font-size: 1.5rem;
  }
}